set_var EASYRSA_REQ_COUNTRY    "{{ openvpn_easyrsa_req_country }}"
set_var EASYRSA_REQ_PROVINCE   "{{ openvpn_easyrsa_req_province }}"
set_var EASYRSA_REQ_CITY       "{{ openvpn_easyrsa_req_city }}"
set_var EASYRSA_REQ_ORG        "{{ openvpn_easyrsa_req_org }}"
set_var EASYRSA_REQ_EMAIL      "{{ openvpn_easyrsa_req_email }}"
set_var EASYRSA_REQ_OU         "{{ openvpn_easyrsa_req_ou }}"
set_var EASYRSA_REQ_CN         "{{ openvpn_easyrsa_req_cn }}"
set_var EASYRSA_ALGO           "ec"
set_var EASYRSA_DIGEST         "sha512"
set_var EASYRSA_BATCH          "1"
